name: npm audit

on:
  schedule:
    - cron: '43 08 * * 3'

jobs:
  audit:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [lts/*, latest]

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        check-latest: true
    - run: npm audit
    - run: npm outdated
      env:
        CI: true
